<h1>Modelos creados según ERD</h1>
<%= image_tag("0__created_models_tables_has_many_migrate.png")  %>
<br>
<br>
<h1>Validaciones</h1>
<%= image_tag("0_123validates models.png")  %>
<br>
<br>
<br><h1>5 nuevos blogs creados</h1>
<%= image_tag("1_five blogs created.png")  %>
<br>
<br>
<h1>4 Nuevas publicaciones para cada blog</h1>
<%= image_tag("2_several_posts_created_for_each_blog.png")  %>
<br>
<br>
<h1>4 Mensajes creados para la primera publicación</h1>
<%= image_tag("3_four_messages_to_first_post.png")  %>
<br>
<br>
<h1>Mostrar las publicaciones del primer blog</h1>
<%= image_tag("4_all posts of first blog.png")  %>
<br>
<br>
<h1>Mostrar las publicaciones del último blog , ordenadas por título y en forma descendente</h1>
<%= image_tag("5_posts_of_last_blog_order_by_title_DESC.png")  %>
<br>
<br>
<h1>Actualizar el título de la primera publicación</h1>
<%= image_tag("6_title_update_first_Post.png")  %>
<br>
<br>
<h1>Eliminar la tercera publicación, eliminando en cascada los mensajes asociados</h1>
<h1>Antes de eliminar tercer post</h1>
<%= image_tag("7_1_before_destroy_third_post-and_its_messages.png")  %>
<br>
<h1>Después de eliminar tercer post</h1>
<%= image_tag("7_2_after_destroy_third_post_and_its_messages.png")  %>
<br>
<h1>Todos los blogs y los blogs con id menor a 5</h1>
<%= image_tag("8_9_all_blogs_and_blogs_with_id_less_than_5.png")  %>
<br>
<br>
<h1>Modelos creados según ERD</h1>
<%= image_tag("8_9_all_blogs_and_blogs_with_id_less_than_5.png")  %>
